# Project exclude paths
/part-1/lesson-2-arrays-objects-if/tasks-is-switch/task_6_bAUsaq6LI/main.js
/part-1/lesson-2-arrays-objects-if/tasks-is-switch/task_7_3ckURgvs/main.js
/part-1/lesson-2-arrays-objects-if/tasks-is-switch/task_8_UMoNq4biWGe/main.js
/part-1/lesson-2-arrays-objects-if/tasks-is-switch/task_9_KzrtqyQ/main.js
/part-1/lesson-2-arrays-objects-if/tasks-is-switch/task_10_uwsz1RnTQJ1/main.js
/part-1/lesson-2-arrays-objects-if/tasks-is-switch/task_11_iBvqtjEm/main.js
/part-1/lesson-2-arrays-objects-if/tasks-is-switch/task_12_awLXL6TBzg/main.js